@import url("fontcssyoutube.css");
*
{   
box-sizing: border-box;    
margin: 0;
padding: 0;
}
.row
{
 
  /* For centering all the elements inside the
  row  we use width */
  width: 1300px;
  margin: 0 auto;
  /***************************************/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  text-align: center;

}
.col-4
{

/* flex-basis: auto; */
width: 300px;
height: 300px;
margin: 0 auto;

}

/* .featureproductimages {
    width: 300px;
    height: 300px;
} */

/* RESPONSIVE FEATURE GRID  */
.row2
{
  margin-block: 30px;
  /* makes felxible boxes */
  display: flex;
  /* Will provide space to the divs from both  left 
  and right */
  justify-content: space-between;
  /* Centalize the container */
  width: 1300px;
  /* Giving height to the one row */
  height: 390px;
  margin: 0 auto;
  flex-direction: row;
  border: 1px solid black;
  align-items: flex-start;
}

.col-3
{

  width: 300px;
  border: 1px solid black;
}
.imagesbestseller
{
  width: 100%;
}
.seller-text {
  white-space: nowrap;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.sales {
  font-size: 13px;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}


.price {
  font-size: 17px;
  font-family: Poppins-SemiBold;

}
/* 
Smallest modile Device consider be 200px
Largest mobile device consider be 767px */
@media only screen and (min-width:200px) and (max-width:767px)
{
  .row2
{
  /* makes felxible boxes */
  display: flex;
  /* justify-content: space-around; */
  /* Centalize the container */
  width: 760px;
  margin: 0 auto;
  flex-direction: row;
  /* Will make the one column on the left
  Will make one column on the right 
  Will provide equal space between rest of the 
  columns*/
  justify-content: space-between;
  border: 1px solid black;
  margin-block: 10px;
  height: auto;
}
.col-3
{

  width: 177px;
  border: 1px solid black;
  /* height: 275px; */
}
.details { width: auto;}
.seller-text {
  white-space:wrap;
 
  font-size: 2vh;
  font-family: 'Poppins', sans-serif;

}
.sales {
  font-size: 2vh;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
}


.price {
  font-size: 2vh;
  font-family: Poppins-SemiBold;

}
}

    






